name: CI-CD
on:   
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install Depenencies
        working-directory: devops-ia-2-edicao/02-encontros-tech
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        working-directory: devops-ia-2-edicao/02-encontros-tech
        run: python -m pytest tests/ -v

  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: aadsousa/bootcamp-encontros-tech
          tags: |
            type=sha,prefix=,format=short
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./devops-ia-2-edicao/02-encontros-tech
          file: ./devops-ia-2-edicao/02-encontros-tech/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=aadsousa/bootcamp-encontros-tech:buildcache
          cache-to: type=registry,ref=aadsousa/bootcamp-encontros-tech:buildcache,mode=max

      - name: Get image tag
        id: image-tag
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "image=aadsousa/bootcamp-encontros-tech:latest" >> $GITHUB_OUTPUT
          else
            SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
            echo "image=aadsousa/bootcamp-encontros-tech:$SHORT_SHA" >> $GITHUB_OUTPUT
          fi

      - name: Set Kubernetes context
        uses: azure/k8s-set-context@v3
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG_DATA }}

      - name: Deploy to Kubernetes cluster
        uses: azure/k8s-deploy@v4
        with:
          manifests: |
            devops-ia-2-edicao/02-encontros-tech/k8s/postgres-deployment.yaml
            devops-ia-2-edicao/02-encontros-tech/k8s/deployment.yaml
          images: ${{ steps.image-tag.outputs.image }}
          kubectl-version: 'latest'
