name: CI-CD
on:   
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: action/setup-pytthon@v6
        with:
          python-version: '3.11'
      - name: Install Depenencies
        working-directory: 02-encontros-tech
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        working-directory: 02-encontros-tech
        run: python -m pytest tests/ -v

  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - run: echo "Obter o codigo"
      - run: echo "Configurar o kubeconfig"
      - run: echo "Executar o apply"
